  body {
    font-family: Arial;
    background-color: aqua;
    background-image: url("../y-so-serious-white.png");
    display: flex;
    justify-content: center;


  }
  
  h1 {
    text-align: center;
  }
  
  label {
    text-align: center;
    display: block;
    margin-top: 10px;
  }
  
  .input, .selection, .tombol{
    text-align: center;
    margin-top: 5px;
    padding: 4px;
  }
  
  .textbox{
    width:400px;
    height: 100px;
    border: 1px solid #000000;
  }

  button {
    margin-top: 10px;
  }
  
  #result, #rumus {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 5px;
    font-weight: bold;
    padding: 5;
  }